#site{
    font-family: Times, sans-serif;
    background-color: rgb(255, 247, 225);
    overflow-x: hidden;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
}
#main{
	width: 100vw;
    border: 1px solid grey;
    background: white;
    padding: 35px 40px 0px;
    width: auto;
}
.name span{
	color: red;
}
.widget-content ul{
	 list-style: none;
	 padding: 0px;
}
.selected{
    display: inline-block;
    padding: 0px;
    margin-bottom: 1px;
}
.widget-content li{
    border: 1px solid orange;
    background: orange;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 1px;
    padding: .65em 1.5em;
}
.widget-content a{
    text-decoration: none;
    color: black;
}
.widget-content li:hover {
    background: #E28B00;
    border: 1px solid #E28B00; 
}
#doc_time{
	font-size: 20px;
}
#base{
	font-size: 20px;
}
#slider{
	overflow: hidden;
	width: 500px;
	height:300px;
	margin: 20px 200px 20px;
	float: left;
	position: relative;
}
#slider ul{
  	list-style-type: none;
}
#slider img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.slide{
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
.showing{
  	opacity: 1;
  	z-index: 2;
}
.left{
	float: left;
	width: 70%;
}
.news{
	text-align: center;
	width: 80%;
}
.news img{
	width: 70%;
}
.news img:focus,
img:focus ~ *{
	cursor: zoom-out;
	pointer-events: none;
}
.big{
	width: 30%;
	cursor: zoom-in;
	cursor: pointer;
	margin: 5px 5px;
}
.big:focus {  
 	position: fixed; z-index: 10;  
  	top: 0; left: 0; bottom: 0; right: 0;  
  	width: auto; max-width: 80%;  
  	height: auto; max-height: 80%;  
  	margin: auto;  
  	box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);  
	-webkit-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);  
	-moz-box-shadow: 0 0 200px #000, 0 0 0 1000px rgba(0,0,0,.3);  
}  
.big:focus,
.big:focus ~ * {  
  cursor: zoom-out;  
  pointer-events: none;
}
.album{
	border-radius: 20px;
	max-height: 200px;
	margin: 10px 15px; 
}
.photo{
	text-align: center;

}
.photo img{
	margin: 10px 0px 0px;
	width: 50%;
}
.photo img:focus,
img:focus ~ *{
	cursor: zoom-out;
	pointer-events: none;
}
table{
	max-width: 150px;
	font-size: 17px;
	margin-top:20px; 
	border: 1px solid grey;
	text-align: center;
}
td{
	border:1px solid grey;
}
.none{
	background-color: green;
}
.bell{
	display: inline-block;
	margin-right: 20px; 
}
.bell td{
	padding-left: 50px;
	padding-right: 50px;
}
.right{
	width: 30%;
	float: right;
	text-align: center;
}
.logo img{
	margin-right:auto; 
	margin-left:auto;
	width: 40%;
}
.teacher{
	font-size: 16px;
}
.teacher img{
	width: 55%;
}
.teacher a{
	text-decoration: none;
	color: black;
}
.list p{

}
.end{
	clear: both;
}
.upper{
	padding-top: 10px;
	text-align: center;
}
.bottom{
	padding: 0px 100px;
	text-align:center;
}
h4{
	margin:0px; 
}
#footer input{
	font-size: 25px;
	margin-bottom: 25px;
}